In [4]:
import pandas as pd
import numpy as np

In [22]:
#How do you handle duplicate values in a dataset in Python?

#a list
a_list = (1,3,2,4,5,6,7,8,3,4,2,1,1,4,45,645,542,1,3,43)
b_list = set(a_list)
print b_list

#numpy array
my_array = np.array([1, 2, 2, 4, 5])
np.unique(my_array)


#a dictionary
df = pd.DataFrame(
        {
            "student_id":[1,2,3,4,5,6,7],
            "Year":[1,3,2,3,4,1,2],
            "Age":[14,12,11,15,13,13,16]
        },
    index=[1,2,3,4,5,6,7]
)
         
print df
np.unique(df["Age"])

set([1, 2, 3, 4, 5, 6, 7, 8, 43, 45, 542, 645])
   Age  Year  student_id
1   14     1           1
2   12     3           2
3   11     2           3
4   15     3           4
5   13     4           5
6   13     1           6
7   16     2           7

array([11, 12, 13, 14, 15, 16], dtype=int64)

array([1, 2, 4, 5])

In [19]:

#You are given two tables - friend_request and request_accepted. 
#Friend_request contains requester_id, time and sent_to_id and 
#request_accepted table contains time, acceptor_id and requestor_id. 
#How will you determine the overall acceptance rate of requests? 

#overal acceptance rate= #acceptors/#requestors

%SQL:
SELECT COUNT(R.ACCEPTOR_ID)/COUNT(F.requester_id) AS the_overall_acceptance_rate_of_requests
FROM Friend_request AS F 
LEFT JOIN Request_accpeted AS R
    ON F.requester_id=R.F.requester_id

#Python
#left join two tables
df=pd.merge(Friend_request,Request_accpeted, on='requestor_id', how='left')
the_overall_acceptance_rate_of_requests = df['acceptor'].count/df['request_id'].count

In [105]:
#“Issuer” of a credit card are companies like Visa, Mastercard, American Express. Now we know the following rules:

#CC number starts with: '4'
#CC len : 16
#Issuer: VISA

#CC number starts with: '34', '37'
#CC len : 15
#Issuer : AMEX

#CC number starts with: '36'
#CC len : 14
#Issuer : Diners Club

#Credit card number starts with
#'4026', '417500', '4405', '4508', '4844',
#'4913', '4917'
#CC len : 16
#Issuer : VISAELECTRON

number = np.array([4025003929192939, 4405003929192939, 342503929192939])
for i in numbers:
    if str(i)[:5] == [4026,4405,4508,4844,4913,4917] or str(i)[:6] == 417500 and len(number)== 16:
        print "VISAELECTRON"
    elif str(i)[0] == 4 and len(number) == 16:
        print "VISA"
    if str(i)[:3] in [34,37] and len(number)== 15:
        print "AMEX"
    if str(i)[:3] == 36 and len(number) == 14:
        print "Diners Club"